/* Aplica Montserrat no h1 e h3 */
h1, h3 {
    font-family: 'Montserrat', sans-serif; 
}

/* Aplica Merriweather no p */
p {
    font-family: 'Merriweather', serif; 
    font-size: 20px;
    word-wrap: break-word;
}

/* Resto do seu código */
.box-1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    padding: 20px;
}

.imagem-box-1 {
    width: 50%;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
}

h1, p {
    flex: 1;
    margin: 0;
}

.linhaDivisoria {
    background-color: rgb(154, 154, 154);
    height: 3px;
    opacity: 0.3;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
    flex-wrap: wrap;
}

.missao, .visao, .valores {
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.missao:hover, .visao:hover, .valores:hover {
    background-color: #B9F6CA;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.titulo-box-2 {
    margin-bottom: 40px;
    font-size: 23px;
}
